<section>
  <div class="home-banner-wrapper">
    <div class="home-banner-text">
      <h1>Learn, Build and Grow</h1>
      <p>
        Level up your skills and supercharge your career with our transformative programs.
      </p>
      <button class="btn">Explore Programs <span><i class="fa fa-arrow-down"></i></span></button>
    </div>
    <div class="hero-image">
      <img src="../../../../assets/images/office-bg.jpg" alt="">
    </div>
    <div class="banner-footer">
      <div class="feedback">

      </div>
    </div>
  </div>
</section>
