<div class="footer">
  <div class="footer-card">
    <div class="footer-logo">
      <h1>Great<span>Mind</span></h1>
    </div>
    <div class="footer-description">
      <h1>Great<span>Mind</span></h1>
      <hr />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
    <div class="program-links">
      <a href="">
        <img src="../../../assets/images/footer1.png" alt="" />
      </a>
      <a href="">
        <img src="../../../assets/images/footer2.png" alt="" />
      </a>
    </div>
  </div>
  <div class="footer-links">
    <div class="comapny-links">
      <h1>Company Links</h1>
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="">About Us</a></li>
        <li><a href="">Careerrs</a></li>
        <li><a href="">Contact Us</a></li>
      </ul>
    </div>
    <div class="useful-links">
      <h1>Useful Links</h1>
      <ul>
        <li><a href="">Privacy Policy</a></li>
        <li><a href="">Terms & Conditions</a></li>
        <li><a href="">Return Policy</a></li>
      </ul>
    </div>
    <div class="contact-info">
      <h1>Contact Info</h1>
      <p>
        Acmegrade Pvt Ltd, 64, 27th Main Road 1st Sector, HSR Layout Hustlehub
        Techpark,36/5, Somasundrapalya, harlurkunte, village, Bengaluru,
        Karnataka 560102
      </p>
    </div>
    <div class="stay-connected">
      <h1>Stay Connected</h1>
      <div class="social-icons">
        <a href=""><i class="fa fa-facebook"></i></a>
        <a href=""><i class="fa fa-twitter"></i></a>
        <a href=""><i class="fa fa-instagram"></i></a>
        <a href=""><i class="fa fa-linkedin"></i></a>
        <a href=""><i class="fa fa-youtube"></i></a>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="copyright">© 2024 GreatMind. All rights reserved.</div>
    <div class="support-links">
      <a class="mail">
        <span><i class="fa fa-envelope"></i></span>
        <span>{{'support@greatmind.com'}}</span>
      </a>
      <h4>
        <span><i class="fa fa-phone"></i></span>
        <span class="contact">+91 123456789</span>
      </h4>
    </div>
    <div class="whatsapp-link">
      <span><i class="fa fa-whatsapp"></i></span>
    </div>
  </div>
</div>
