.wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 0 10%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: var(--bg-light);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;

  .logo {
    a img {
      height: 100px;
      width: 100px;
      object-fit: contain;
    }
  }

  .nav-links {
    padding: 0 20px;
    display: inline-flex;
    gap: 20px;

    li {
      cursor: pointer;
      display: inline-block;
      padding: 10 20px;

      .mega-menu {
        width: 100vw;
        height: 80vh;
        display: flex;
        padding: 20px 10%;
        top: 80px;
        left: 0;
        position: absolute;
        background: var(--bg-light);
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;

        .program-list {
          width: 865px;
          position: relative;

          li {
            cursor: pointer;
            display: block;
            width: 310px;
            border-radius: 5px;

            a {
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 5px 10px;
              box-sizing: border-box;
              outline: none;
              border: 0;
              border-radius: 5px;
              opacity: 0.5;
              font-weight: 300;

              img {
                width: 30px;
                height: 30px;
                object-fit: contain;
              }
            }

            a.active {
              background-color: var(--bg-primary);
              color: var(--text-white);
              opacity: 1;
              font-weight: 500;
            }
          }

          .mega-sub-menu {
            width: 620px;
            top: 0;
            left: 40%;
            position: absolute;
            background: var(--bg-light);
            transition: all 0.3s ease;

            .program-category {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              gap: 10px;
            }
          }
        }

        .menu-banner {
          width: 325px;
        }
      }

      a {
        opacity: 0.5;
      }

      .active,
      &:hover a {
        opacity: 1;
      }

      &:hover .mega-menu {
        visibility: visible;
        opacity: 1;
        top: 90px;
      }
    }
  }

  .mobile-nav-links {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
  }
}

// responsive designs
// for mobile
@media screen and (max-width: 768px) {
  .wrapper {
    padding: 20px 10%;
    height: 90px !important;
    justify-content: space-between !important;

    .nav-links {
      display: none !important;
    }

    .mobile-nav-links {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 90px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: var(--b-light-1);

      ul {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
        gap: 10px;
        font-size: 0.8rem;

        li {
          text-align: center;
          cursor: pointer;
          width: 80px;

          .icon {
            font-size: 20px;
            width: 100%;
            border-radius: 20px;
            transform: scale(0.8);
            transform-origin: center;
            opacity: 0.6;
            transition: transform 0.2s, background 0.2s, opacity 0.2s;
          }

          .active {
            .icon {
              background: var(--bg-light);
              transform: scale(1);
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

/* For tablet */
@media screen and (min-width: 769px) and (max-width: 1044px) {
  .mobile-nav-links {
    display: none !important;
  }
}

/* For desktop */
@media screen and (min-width: 1045px) {
  .mobile-nav-links {
    display: none !important;
  }
}

