<header class="header-container">
  <nav>
    <div class="wrapper">
      <!-- logo -->
      <div class="logo">
        <a routerLink="/">
          <img [src]="logoPath" alt="" />
        </a>
      </div>

      <!-- nav menus -->
      <ul class="nav-links">
        <li><a
          [class.active]="isLinkActive('/')"
          (click)="navigateTo('/')">Home</a></li>
        <li>
          <a routerLink="/">Programs</a>
          <div class="mega-menu">
            <ul class="program-list">
              @for(domain of megaMenuObject; track domain.title) {
                <li (click)="toggleProgramSubmenu(domain.title)">
                  <a routerLink="/" [class.active]="domain.isExpanded">
                    <img src="https://d1vwxdpzbgdqj.cloudfront.net/s3-public-images/icons/software-engineering.svg" alt="">
                    <header><span>{{domain.title}}</span></header>
                    <div class="icon">
                      <span><i class="fa fa-angle-right"></i></span>
                    </div>
                  </a>
                </li>

                @if(domain.isExpanded) {
                <div class="mega-sub-menu">
                  <ul class="program-category">
                    @for(subdomain of domain.subdomains; track subdomain.courseName) {
                    <li>
                      <app-course-card [courseName]="subdomain.courseName" [height]="'120px'"></app-course-card>
                    </li>
                    }
                  </ul>
                </div>
                }
              }

            </ul>
            <div class="menu-banner">
              <img src="../../" alt="">
            </div>
          </div>
        </li>
        <li><a
          [class.active]="isLinkActive('/aboutus')"
          (click)="navigateTo('/aboutus')">About Us</a></li>
        <li><a
          [class.active]="isLinkActive('/carrers')"
          (click)="navigateTo('/carrers')">Careers</a></li>
        <li><a
          [class.active]="isLinkActive('/contact')"
          (click)="navigateTo('/contact')">Contact Us</a></li>
      </ul>

      <!-- login -->
      <div class="login">
        <a routerLink="/login">Login</a>
      </div>

      <!-- bottom nav -->
      <div class="mobile-nav-links">
        <div class="content">
          <ul>
            <li>
              <a
                [class.active]="isLinkActive('/')"
                (click)="navigateTo('/')"
                exact
              >
                <div class="icon">
                  <span><i class="fa fa-user"></i></span>
                </div>
                <div class="title">
                  <span>Home</span>
                </div>
              </a>
            </li>
            <li>
              <a
                [class.active]="isLinkActive('/aboutus')"
                (click)="navigateTo('/aboutus')"
              >
                <div class="icon">
                  <span><i class="fa fa-info-circle"></i></span>
                </div>
                <div class="title">
                  <span>About us</span>
                </div>
              </a>
            </li>
            <li>
              <a
                [class.active]="isLinkActive('/carrers')"
                (click)="navigateTo('/carrers')"
              >
                <div class="icon">
                  <span><i class="fa fa-briefcase"></i></span>
                </div>
                <div class="title">
                  <span>Careers</span>
                </div>
              </a>
            </li>
            <li>
              <a
                [class.active]="isLinkActive('/contact')"
                (click)="navigateTo('/contact')"
              >
                <div class="icon">
                  <span><i class="fa fa-phone"></i></span>
                </div>
                <div class="title">
                  <span>Contact Us</span>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
